.small-icon {
	@include small-icon;
}

.regular-icon {
	@include regular-icon;
}

//Text
.h4 {
	@include h4;
}

.ph {
	@include ph;
}

.pl {
	@include pl;
}

.plb {
	@include plb;
}

.ps {
	@include ps;
}

.psb {
	@include psb;
}

.px {
	@include px;
}

.pxb {
	@include pxb;
}

//Links
.text-link {
	color: $theme-blue;
	padding: 0.12rem;
}

//Tabs
.tab {
	padding: $spacing-1 $spacing-4;
	background: $theme-white;
	color: $theme-light;
	border-radius: $spacing-8;
	cursor: pointer;
}

//Buttons
.regular-icon-button {
	@extend .button;
	@include flex;
	padding: 0.28rem;
	border-radius: $spacing-4;
	background: $theme-blue;
	transition: all 0.25s ease;

	span {
		@include small-icon;
		color: $theme-white;
	}

	&:hover {
		box-shadow: 4px 12px 18px $theme-shadow-color;
	}
}

.light-regular-icon-button {
	@extend .button;
	@include flex;
	padding: 0.16rem;
	background: $theme-white;
	border-radius: $spacing-4;
	transition: all 0.25s ease;

	span {
		@include small-icon;
		color: $theme-blue;
	}

	&:hover {
		box-shadow: 2px 6px 12px $theme-shadow-color;
	}
}

.link-button {
	@extend .button;
	@include px;
	background: $theme-blue;
	color: $theme-white;
	padding: $spacing-2 $spacing-6;
	border-radius: 0.64rem;
	cursor: pointer;
	transition: all 0.25s ease;

	&:hover {
		background: $theme-light;
		color: $theme-dark;
	}
}

//Form
.search-component {
	width: 100%;
	@include flex;
	background: $theme-white;
	border-radius: $spacing-3;

	input {
		width: 100%;
		padding: $spacing-2 $spacing-6;
		border: none;
		background: transparent;
		margin-right: $spacing-2;
		@include px;
		color: $theme-dark;
		caret-color: $theme-dark;

		&::placeholder {
			@include px;
			color: $theme-light;
		}

		&:focus {
			outline: none;
		}
	}
}
