.regular-icon {
	font-size: 1.32rem;
	padding: 0.04rem;
}

//Text
.h4 {
	@include h4;
}

.ph {
	@include ph;
}

.pl {
	@include pl;
}

.plb {
	@include plb;
}

.ps {
	@include ps;
}

.psb {
	@include psb;
}

.px {
	@include px;
}

.pxb {
	@include pxb;
}

//Buttons
.regular-icon-button {
	@extend .button;
	@include flex;
	@include small-icon;
	padding: 0.48rem;
	border-radius: $spacing-4;
	background: white;
	border: 1.4px solid hsl(0, 0%, 87%);
	transition: all 0.25s ease;

	&:hover {
		box-shadow: 8px 8px 18px 6px $hover-light;
		color: $primary-color;
	}
}

.link-button {
	@extend .button;
	@include px;
	background: hsl(0, 0%, 12%);
	color: $primary-color;
	padding: $spacing-2 $spacing-6;
	border-radius: 0.64rem;
	cursor: pointer;
	transition: all 0.25s ease;

	&:hover {
		background: hsl(0, 0%, 16%);
		color: $hover-lighter;
	}
}

//Form
.form-control {
	width: 100%;
	@include flex;
	background: $hover-lighter;
	border-radius: $spacing-3;

	input {
		width: 100%;
		padding: $spacing-2 $spacing-6;
		border: none;
		background: transparent;
		margin-right: $spacing-2;
		@include px;
		color: $light-text;

		&::placeholder {
			@include px;
			color: $muted-text;
		}

		&:focus {
			outline: none;
		}
	}

	.submit-button {
		margin-right: $spacing-1;
	}
}
