//Flexbox
@mixin flex($direction: row, $align: center, $justify: null) {
	display: flex;
	flex-direction: $direction;
	align-items: $align;
	justify-content: $justify;
}

//Grid
@mixin grid($align: null, $justify: null) {
	display: grid;
	align-items: $align;
	justify-content: $justify;
}

//Display none
@mixin d-none {
	display: none;
}

//Media Queries

//Big Smartphone devices
@mixin phone-lg {
	@media screen and (min-width: 414px) {
		@content;
	}
}

//Tablet devices
@mixin tab-screen {
	@media screen and (min-width: 600px) {
		@content;
	}
}

//Small screen laptops
@mixin laptop-small {
	@media screen and (min-width: 1024px) {
		@content;
	}
}

//Large screen laptops
@mixin laptop-large {
	@media screen and (min-width: 1440px) {
		@content;
	}
}

//Text
@mixin h4 {
	font-size: 1.32rem;
	font-family: PoppinsMedium;
	line-height: calc(1.32rem * 1.5);
	letter-spacing: 0.4px;
}

@mixin ph {
	font-size: 1.16rem;
	font-family: PoppinsMedium;
	line-height: calc(1.16rem * 1.5);
	letter-spacing: 0.4px;
}

@mixin pl {
	font-size: 1rem;
}

@mixin plb {
	font-size: 1rem;
	font-family: PoppinsMedium;
}

@mixin ps {
	font-size: 0.88rem;
}

@mixin px {
	font-size: 0.8rem;
}

@mixin pxb {
	font-size: 0.8rem;
	font-family: PoppinsMedium;
}

//Icons
@mixin small-icon {
	font-size: 1rem;
	padding: 0.04rem;
}

@mixin regular-icon {
	font-size: 1.32rem;
	padding: 0.04rem;
}

//Components
.button {
	background: transparent;
	border: none;
}

//Hide Scrollbar
@mixin scroll-hide {
	scrollbar-width: none;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}
}
