@import "../../sass/variables";
@import "../../sass/utilities";

.news-grid {
	width: 96%;
	margin: -12rem auto 16rem;

	.grid-title {
		text-transform: uppercase;
		letter-spacing: 6px;
		color: $theme-light;
		margin-left: $spacing-8;
	}

	.items-grid {
		width: 100%;
		margin-top: $spacing-10;
		@include grid;
		grid-template-columns: 1fr;
		grid-column-gap: $spacing-8;
		grid-row-gap: $spacing-10;

		@include tab-screen {
			grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
		}
	}
}
