@import "../../sass/variables";
@import "../../sass/utilities";

.news-card {
	width: 100%;
	@include flex($align: flex-start);
	padding: $spacing-4;
	padding-right: $spacing-8;
	border-radius: $spacing-6;
	border: 1.6px solid $theme-white;
	transition: all 0.25s ease;

	&:hover {
		box-shadow: 0px 4px 16px $theme-shadow-color;
	}

	.news-card-image {
		width: 4.8rem;
		height: 4.8rem;
		border-radius: $spacing-8;
	}

	.news-info {
		margin-left: $spacing-6;

		.headline {
			color: $theme-black;
		}

		.details {
			@include flex;
			margin-top: $spacing-10;

			.category {
				margin-right: $spacing-4;
			}

			.date-stamp {
				color: $theme-dark-gray;
			}

			.news-source {
				text-transform: uppercase;
				margin-left: $spacing-4;
				letter-spacing: 1.6px;
			}
		}
	}
}
