@import "../../sass/variables";
@import "../../sass/utilities";

.news-card {
	width: 100%;
	@include flex($align: flex-start);
	padding: $spacing-4;
	padding-right: $spacing-8;
	border-radius: $spacing-6;
	border: 1.6px solid $hover-lighter;

	&:hover {
		box-shadow: 0px 8px 16px rgb(233, 233, 233);
	}

	.news-card-image {
		width: 4rem;
		height: 4rem;
		border-radius: $spacing-8;
	}

	.news-info {
		margin-left: $spacing-6;

		.details {
			@include flex;
			margin-top: $spacing-5;

			.category {
				margin-right: $spacing-4;
				color: $primary-color;
			}

			.news-source {
				text-transform: uppercase;
				margin-left: $spacing-4;
				letter-spacing: 1.6px;
				color: $muted-text;
			}
		}
	}
}
